%table.table.table-hover{:'data-resource' => "customer"}
  %thead
    %tr
      %th Agent
      %th Booking At
      %th Customers
  %tbody
    -@trips.each do |trip|
      %tr.ancherRow{:'data-id' => trip.id}
        %td= trip.agents.first.name
        %td= trip.booked_at
        %td 张王赵李
