%nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      %a.navbar-brand{href:'/'} CRM
    %div
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{href:'/activities', :'data-toggle' => 'dropdown'}
            Activity
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href:'/activities'} List All
            %li.divider
            %li
              %a{href:'/create/activity'} Create
        %li.dropdown
          %a.dropdown-toggle{href:'/companies', :'data-toggle' => 'dropdown'}
            Company
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href:'/companies'} List All
            %li.divider
            %li
              %a{href:'/create/company'} Create
        %li.dropdown
          %a.dropdown-toggle{href:'/agents', :'data-toggle' => 'dropdown'}
            Agent
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href:'/agents'} List All
            %li.divider
            %li
              %a{href:'/create/agent'} Create
        %li.dropdown
          %a.dropdown-toggle{href:'/customers', :'data-toggle' => 'dropdown'}
            Customer
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href:'/customers'} List All
            %li.divider
            %li
              %a{href:'/create/customer'} Create
        %li.dropdown
          %a.dropdown-toggle{href:'/trips', :'data-toggle' => 'dropdown'}
            Trip
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href:'/trips'} List All
            %li.divider
            %li
              %a{href:'/create/trip'} Create
